<MarketplaceDetails>
  <SmallAppTile>ApplicationIcon.png</SmallAppTile>
  <ScreenShots>WVGA_1.png;WVGA_2.png;WVGA_3.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>WXGA_1.png;WXGA_2.png;WXGA_3.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>720p_1.png;720p_2.png;720p_3.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>